<div id="rsidebar-wrapper" [ngClass]="{'sidebar_enter':isShowSide,'sidebar_leave':!isShowSide}">
    <div class="header section" id="header">
        <div class="widget Header" data-version="1" id="Header1">
            <div id="header-inner">
                <div class="titlewrapper">
                    <h1 class="title">
                        <a routerLink="/home">风之家</a>
                    </h1>
                </div>
                <div class="descriptionwrapper">
                    <p class="description"><span>喜欢折腾的人,上辈子一定是折翼的天使</span></p>
                </div>
            </div>
        </div>
        <div class="widget BlogSearch" data-version="1" id="BlogSearch1">
            <div class="widget-content">
                <div id="BlogSearch1_form">
                    <form (ngSubmit)="searchBlog()" class="gsc-search-box">
                        <table cellpadding="0" cellspacing="0" class="gsc-search-box">
                            <tbody>
                                <tr>
                                    <td class="gsc-input">
                                        <input autocomplete="off" class="gsc-input"  [(ngModel)]="search.keywords" name="keywords"  placeholder="关键词" title="search" type="text" >
                                        <input class="gsc-search-button" title="search" type="submit" value="">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            
        </div>
        <div class="widget LinkList" data-version="1" id="LinkList1">
            <h2>Menu</h2>
            <div class="widget-content">
                <ul>
                    <li><a routerLink="/home">风之家</a></li>
                    <li><a routerLink="/photos">照片集</a></li>
                    <li><a routerLink="/photos">关于我</a></li>
                    <li><a target="_blank" href="http://www.windhome.win/src/README.html">技术栈</a></li>
                </ul>
            
            </div>
        </div>
    </div>
    <div class="sidebar section" id="sidebarright">
        
        <div class="widget Label" data-version="1" id="Label1">
            <h2 style="letter-spacing: 2px;">标签分类</h2>
            <div class="widget-content list-label-widget-content tags-list">
                <ul>
                    <li title="{{item?.tags_name}}" *ngFor="let item of tagsList" (click)="blogTags(item?.tags_name)">
                        <a [ngClass]="{'activated':item?.tags_name == currentClass}">{{item?.tags_name}}</a>
                    </li>
                    
                </ul>
                
            </div>
        </div>
        
        <div class="widget Label" data-version="1" id="Label2">
            <h2 style="letter-spacing: 2px;">博客分类</h2>
            <div class="widget-content list-label-widget-content">
                <ul class="categorys-list">
                    <li title="{{item?.category_title}}" *ngFor="let item of categorys" (click)="blogCategory(item?.category_id)">
                        <a [ngClass]="{'activated':item?.category_id == currentClass}">{{item?.category_title}} <strong>({{item?.total}})</strong></a>
                    </li>
                    
                </ul>
            </div>
        </div>

        <div class="widget HTML" data-version="1" id="HTML2">
            <h2 style="letter-spacing: 2px;">音乐小窝</h2>
            <player></player>
        
        </div>
    </div>
</div>
<div class="mobile-header" [ngClass]="{'backdrop_enter':isShowSide,'backdrop_leave':!isShowSide}">
    <div class="site-name"><a routerLink="/home">风之家</a></div>
    <div class="menu-btn" (click)="showSide()"><i aria-hidden="true" class="fa fa-bars"></i></div>
</div>
