<!--Main-->
<div id='main-wrapper' class="item">
    <div class='main section' id='main'>
        <div class='widget Blog' data-version='1' id='Blog1'>
            <div class='blog-posts hfeed'>
                <div class="date-outer">
                    <h2 class='date-header'><span>Thursday, 3 September 2015</span></h2>
                    <div class="date-posts">
                        <div class='post-outer'>
                            <div class='wrapfullpost'>
                                <div class='post hentry'>
                                    <a name='6103435469716637545'></a>
                                    <div class='post-header-line-1'></div>
                                    <div class='post-body entry-content' id='post-body-6103435469716637545' itemprop='articleBody'>
                                        <meta content='Here we have only two switched reference voltages: 0 and 1.0000. (As we shall show later, we can tweak the high end even if this voltage is ...' name='twitter:description' />
                                        <div class='post-home'>
                                            <div class='post-info'>
                                                <div class='ininfo'>
                                                    <h1 class='post-title entry-title' itemprop='name'>{{blogInfo?.blog_title}}</h1>
                                                    <div class='postmeta-primary'>
                                                        <span class='meta_date'>
                                                            <i aria-hidden='true' class='fa fa-clock-o'></i>
                                                            {{blogInfo?.blog_create_time| date:'yyyy/MM/dd/ HH:mm:ss'}}
                                                        </span> &nbsp;
                                                        <span class='meta_categories'>
                                                            <i aria-hidden='true' class='fa fa-tags'></i>
                                                            {{blogInfo?.blog_tags}}
                                                        </span>
                                                    </div>
                                                    <div class='data-snippet' data-post='http://isimpletheme.blogspot.hk/2015/09/ongoing-discovery.html'></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='post-container container'>
                                            <div dir="ltr" style="text-align: left;" trbidi="on">
                                                <div class="separator" style="clear: both; text-align: center;">
                                                    <img border="0" height="360" [src]="blogInfo?.blog_thumbnail" width="640" />
                                                </div>
                                                <br />
                                                <div class="article-detail" [innerHTML]="blogInfo?.blog_content">
                                                </div>
                                            </div>
                                            <!-- 分享 -->
                                            <!-- <div class='don-share' data-limit='3'>
                                                <div class='don-share-total'></div>
                                                <div class='don-share-facebook'></div>
                                                <div class='don-share-twitter'></div>
                                                <div class='don-share-pinterest'></div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div id='related-posts'>
                                    </div>
                                    <div class='post-footer'>
                                        <div class='post-footer-line post-footer-line-'></div>
                                        <div class='post-footer-line post-footer-line-2'></div>
                                        <div class='post-footer-line post-footer-line-3'>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='comments' id='comments'>
                                <h3>4 条评论</h3>
                                <div class='clear'></div>
                                <div id='comment_block'>
                                    <div class='comment-hold' id='c8473522522496424926'>
                                        <div class='comment_inner'>
                                            <div class='comment_header'>
                                                <div class='comment_avatar'>
                                                    <img alt='avatar' src='http://p1.pstatp.com/thumb/1a6e000481f7832afc15' title='Kiên Định' />
                                                </div>
                                                <div class='comment_name'>
                                                    <a href='https://www.blogger.com/profile/06107552023887710229' rel='nofollow' target='_blank'>
                                                        京州公案局局长赵东来
                                                    </a>
                                                </div>
                                                <div class='comment_service'>
                                                    <a href='http://isimpletheme.blogspot.com/2015/09/ongoing-discovery.html?showComment=1481552543603#c8473522522496424926' rel='nofollow' title='permalink'>
                                                        <span class='comment_date'>2017-04-12 06:22</span>
                                                    </a>
                                                    <a class='comment-delete' href='http://www.blogger.com/delete-comment.g?blogID=2528409937020339180&amp;postID=4180960448012123321' title='Delete Comment'>
                                                        <img alt='delete' src='http://2.bp.blogspot.com/-d-5BS0YCkho/UOKe2UIw0rI/AAAAAAAAC4w/md_iYNVHaHk/s1600/delete4.png' title='Delete Your Comment' />
                                                    </a>
                                                </div>
                                                <div class='clear'></div>
                                            </div>
                                            <div class='comment_body'>
                                                <span class='comment_arrow'></span>
                                                <p>陈海醒不过来，然后我就和陆亦可在一起了</p>
                                                <a class='comment_reply' href='#r_c8473522522496424926' id='rc8473522522496424926' onclick='javascript:Display_Reply_Form(this)'>
                                                    回复
                                                </a>
                                                <div class='clear'></div>
                                            </div>
                                            <div class='clear'></div>
                                        </div>
                                        <div class='clear'></div>
                                        <div class='comment_child'></div>
                                        <div class='comment_reply_form' id='r_f_c8473522522496424926'></div>
                                    </div>
                                    <div class='comment-hold' id='c4180960448012123321'>
                                        <div class='comment_inner'>
                                            <div class='comment_header'>
                                                <div class='comment_avatar'>
                                                    <img alt='avatar' src='http://p3.pstatp.com/thumb/6820/8223501015' title='Solusindo Informatika' />
                                                </div>
                                                <div class='comment_name'>
                                                    <a href='https://www.blogger.com/profile/03615641593754303245' rel='nofollow' target='_blank'>
                                                        网络茶水
                                                    </a>
                                                </div>
                                                <div class='comment_service'>
                                                    <a href='http://isimpletheme.blogspot.com/2015/09/ongoing-discovery.html?showComment=1484128372319#c4180960448012123321' rel='nofollow' title='permalink'>
                                                        <span class='comment_date'>2017-04-12 01:52</span>
                                                    </a>
                                                    <a class='comment-delete' href='http://www.blogger.com/delete-comment.g?blogID=2528409937020339180&amp;postID=4180960448012123321' title='Delete Comment'>
                                                        <img alt='delete' src='http://2.bp.blogspot.com/-d-5BS0YCkho/UOKe2UIw0rI/AAAAAAAAC4w/md_iYNVHaHk/s1600/delete4.png' title='Delete Your Comment' />
                                                    </a>
                                                </div>
                                                <div class='clear'></div>
                                            </div>
                                            <div class='comment_body'>
                                                <span class='comment_arrow'></span>
                                                <p>
                                                    就第一集和第二集情节紧凑好看，往后越来越墨迹，很明显为了拖集数，剧情开始拖拉，开始家庭琐事拖集数，这种反贪污的电视剧20集整好，情节紧凑紧张刺激不墨迹内容一针见血效果更好，我现在看的墨迹的想弃剧，看的索然无味弃之可惜，多点行动精彩，少点家庭对话墨迹拖拉，就好了。
                                                </p>
                                                <a class='comment_reply' href='#r_c4180960448012123321' id='rc4180960448012123321'>回复</a>
                                                <div class='clear'></div>
                                            </div>
                                            <div class='clear'></div>
                                        </div>
                                        <div class='clear'></div>
                                        <div class='comment_child'></div>
                                        <div class='comment_reply_form' id='r_f_c4180960448012123321'></div>
                                    </div>
                                    <div class='comment-hold' id='c2136032913168118711'>
                                        <div class='comment_inner'>
                                            <div class='comment_header'>
                                                <div class='comment_avatar'>
                                                    <img alt='avatar' src='http://p3.pstatp.com/thumb/150e00054573312c4774' title='Unknown' />
                                                </div>
                                                <div class='comment_name'>
                                                    <a href='https://www.blogger.com/profile/05938904580264010409' rel='nofollow' target='_blank'>小锤不见了</a>
                                                </div>
                                                <div class='comment_service'>
                                                    <a href='http://isimpletheme.blogspot.com/2015/09/ongoing-discovery.html?showComment=1487415292224#c2136032913168118711' rel='nofollow' title='permalink'>
                                                        <span class='comment_date'>2017-04-12 02:54</span>
                                                    </a>
                                                    <a class='comment-delete' href='http://www.blogger.com/delete-comment.g?blogID=2528409937020339180&amp;postID=2136032913168118711' title='Delete Comment'>
                                                        <img alt='delete' src='http://2.bp.blogspot.com/-d-5BS0YCkho/UOKe2UIw0rI/AAAAAAAAC4w/md_iYNVHaHk/s1600/delete4.png' title='Delete Your Comment' />
                                                    </a>
                                                </div>
                                                <div class='clear'></div>
                                            </div>
                                            <div class='comment_body'>
                                                <span class='comment_arrow'></span>
                                                <span class='deleted-comment'>第五集两个桥段揭示了这个社会的本质：1、陆毅在床上的一句“顶多重伤两个”，在他们的眼里的确是顶多；2、拆车厂陈海要被带回局里，一个电话搞定，普通老百姓就不知道后果了。</span>
                                            </div>
                                            <div class='clear'></div>
                                        </div>
                                        <div class='clear'></div>
                                        <div class='comment_child'></div>
                                        <div class='comment_reply_form' id='r_f_c2136032913168118711'></div>
                                    </div>
                                    <div class='comment-hold' id='c7310624815436043905'>
                                        <div class='comment_inner'>
                                            <div class='comment_header'>
                                                <div class='comment_avatar'>
                                                    <img alt='avatar' src='http://p1.pstatp.com/thumb/1a6d0000843702990147' title='Ahsan Arshad' />
                                                </div>
                                                <div class='comment_name'>
                                                    <a href='https://www.blogger.com/profile/07269350043394542741' rel='nofollow' target='_blank'>
                                                        takusayhi 
                                                    </a>
                                                </div>
                                                <div class='comment_service'>
                                                    <a href='http://isimpletheme.blogspot.com/2015/09/ongoing-discovery.html?showComment=1487495757879#c7310624815436043905' rel='nofollow' title='permalink'>
                                                        <span class='comment_date'>2017-04-12 01:15</span>
                                                    </a>
                                                    <a class='comment-delete' href='http://www.blogger.com/delete-comment.g?blogID=2528409937020339180&amp;postID=7310624815436043905' title='Delete Comment'>
                                                        <img alt='delete' src='http://2.bp.blogspot.com/-d-5BS0YCkho/UOKe2UIw0rI/AAAAAAAAC4w/md_iYNVHaHk/s1600/delete4.png' title='Delete Your Comment' />
                                                    </a>
                                                </div>
                                                <div class='clear'></div>
                                            </div>
                                            <div class='comment_body'>
                                                <span class='comment_arrow'></span>
                                                <p>我是一名闭眼玩家，丁仪珍是明狼走的，不排除有狼队友给他递话的嫌疑，李达康发言很强势如果他是狼的话不会打这么悍，高育良发言一直很滑水预言家可以验一下，沙瑞金跳强神我不聊他，我想说的是祁同伟，警上不下水感觉是一张信息牌，大概率是张狼人牌，最后听预言家侯亮平归票吧，过！</p>
                                                <a class='comment_reply' href='#r_c7310624815436043905' id='rc7310624815436043905' onclick='javascript:Display_Reply_Form(this)'>
                                                    回复
                                                </a>
                                                <div class='clear'></div>
                                            </div>
                                            <div class='clear'></div>
                                        </div>
                                        <div class='clear'></div>
                                        <div class='comment_child'></div>
                                        <div class='comment_reply_form' id='r_f_c7310624815436043905'></div>
                                    </div>
                                </div>
                                <div class='clear'></div>
                                <div class='clear'></div>
                                <div class='comment_form'>
                                    <div class='comment_emo_list'></div>
                                    <div class='comment-form'>
                                        <a name='comment-form'></a>
                                        <p>
                                        </p>
                                        <a href='https://www.blogger.com/comment-iframe.g?blogID=2528409937020339180&postID=6103435469716637545' id='comment-editor-src'></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='post-feeds'>
                <div class='feed-links'>
                    Subscribe to:
                    <a class='feed-link' href='http://isimpletheme.blogspot.com/feeds/6103435469716637545/comments/default' target='_blank' type='application/atom+xml'>Post Comments (Atom)</a>
                </div>
            </div>
        </div>
    </div>
    <div class='copyrights'>Designed By: <a href='http://www.templateism.com' id='mycontent'>Blogger Templates</a> | <a href='https://templatelib.com'>Templatelib</a></div>
</div>