<!--Main-->
<div id='main-wrapper' class="item">
    <div class='main section' id='main'>
        <div class='widget Blog' data-version='1' id='Blog1'>
            <div class='blog-posts hfeed'>
                <div class="date-outer">
                    <h2 class='date-header'><span>Thursday, 3 September 2015</span></h2>
                    <div class="date-posts">
                        <div class='post-outer'>
                            <div class='wrapfullpost'>
                                <div class='post hentry'>
                                    <a name='6103435469716637545'></a>
                                    <div class='post-header-line-1'></div>
                                    <div class='post-body entry-content' id='post-body-6103435469716637545' itemprop='articleBody'>
                                        <meta content='Here we have only two switched reference voltages: 0 and 1.0000. (As we shall show later, we can tweak the high end even if this voltage is ...' name='twitter:description' />
                                        <div class='post-home'>
                                            <div class='post-info'>
                                                <div class='ininfo'>
                                                    <h1 class='post-title entry-title' itemprop='name'>《人民的名义》和污蔑女性扯不上半毛线关系</h1>
                                                    <div class='postmeta-primary'>
                                                        <span class='meta_date'>
                                                            <i aria-hidden='true' class='fa fa-clock-o'></i>
                                                            2017-04-12
                                                        </span> &nbsp;
                                                        <span class='meta_categories'>
                                                            <i aria-hidden='true' class='fa fa-tags'></i>
                                                            <a href='http://isimpletheme.blogspot.hk/search/label/Entertainment?&max-results=9' rel='tag'>
                                                                随笔杂谈,
                                                            </a>
                                                            <a href='http://isimpletheme.blogspot.hk/search/label/Featured?&max-results=9' rel='tag'>
                                                                随笔杂谈,
                                                            </a>
                                                            <a href='http://isimpletheme.blogspot.hk/search/label/Related?&max-results=9' rel='tag'>
                                                                随笔杂谈
                                                            </a>
                                                        </span>
                                                    </div>
                                                    <div class='data-snippet' data-post='http://isimpletheme.blogspot.hk/2015/09/ongoing-discovery.html'></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='post-container container'>
                                            <div dir="ltr" style="text-align: left;" trbidi="on">
                                                <div class="separator" style="clear: both; text-align: center;">
                                                    <a href="https://2.bp.blogspot.com/-eTI5nYmGgPA/V67c26_eo_I/AAAAAAAAA24/ibobu_7yC9c8hWEolpzMHg3Hy6HAzsrpwCLcB/s1600/image-496284197.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="360" src="../../images/re.jpg" width="640" /></a>
                                                </div>
                                                <br />
                                                <div class="article-detail">
                                                    <p class="text">剧红是非多。这就是《人民的名义》最近面临的尴尬现实。</p>
                                                    <p class="text">近几年以来，或许再也没有一部电视剧的影响力能和《人民的名义》相提并论。无论是之前各种依靠抠像制作的小鲜肉中心制的偶像穿越剧，还是对于各部武侠经典的最新翻拍，哪怕是和我们日常生活更加息息相关的北上广生活之类的现实题材，都无法像这部电视剧一样引发如此多的解读。对于《人民的名义》的关注几乎跳出了所有单一的圈层，成为了全民狂欢。</p>
                                                    <p class="text">有人为尺度惊叹；有人为演技折服；有人开玩笑地编纂出了第二部的剧本梗概；业内人士关心如此优质的演员阵容竟然拿着如此低廉的片酬；而达康书记的扮演者吴刚，一个中年男人竟也成为了新一代网红……可见，人们对于“腐败”和“反腐”的关注是多么热切。而这个需求，多年以来一直处于饥渴状态。自2004年开始，涉案剧被严格限制，反腐剧作为其中的一个分支也直接退出了黄金档，十几年来，这个人们喜闻乐见的类型剧就此销声匿迹，反腐剧十几年的沉寂之后，《人民的名义》在这个重口味的时代里满足了人们的尺度饥渴综合征。它被广泛热议其实就是因为虚构的故事和现实中发生的新闻之间暧昧的映射关系，这种对于现实生活的戏仿，在中国电视剧的制作中是稀缺的。所以，人们普遍放弃了对于剧情瑕疵和技术硬伤的纠缠，只热烈的谈论其中的情节。而也正是因为这种尺度和与现实的映照，开始引来了一些人的反弹。其中最令人想不到的反应其实来自于一些所谓的女性主义者和女权人士。网上先是有人写了文章，“喊周梅森到妇联挂职锻炼”，然后又有传闻称，妇联也加入了声讨，妇联宣传部已经和人民检察院政治宣传部取得了联系，对于剧中对女性不尊重，对妇联组织形象调侃等硬伤进行了沟通，要求对有损妇女干部和妇联组织形象台词镜头做删减。</p>
                                                    <p class="text">其实，如果不是这些新闻爆出，最普通的观众们都是不会注意到这部电视剧和妇女有什么瓜葛的，实话讲，这几乎算是一部男人戏，作为配角的女性形象屈指可数。当然，这种设定也成为了一桩证据，用来证明编剧和导演有意识或者下意识地把女性地位进行了边缘化处理。真不知道该如何满足这些女性主义战士们的要求，难道以后所有影视剧的设定都要严格平均安排男女角色数量吗？</p>
                                                    <p class="text">当然，比这更直接的是一句台词激怒了她们。剧中演到，沙瑞金在省委扩大会议上说，有个干部做了六年科技局局长，五年市委组织部部长，还想更进一步，可是农科院专家，科学院院士大都不认识，可对于稍有姿色的女干部，他个个都熟悉，连那些在偏远山区工作的女干部，他都能叫出人家的乳名。这样的干部怎么能够提拔呢？此时，与会的另一名干部接了一句，“可以安排到省妇联看大门，发挥他的特长和余热嘛。”众人笑。</p>
                                                    <p class="text">显然，这句台词是对那位不合格干部的嘲讽，是一个非常有趣的桥段，几乎内窥式地呈现了严肃的高层会议上的真实生态——那些研究干部任免和国家大事的会议，也是一个一个人组成的，他们在探讨一些宏大议题的时候，也会开玩笑。这种写法会把剧情柔化。更重要的是，这种桥段设定不但符合戏剧写作的内部真实和内部自洽，也更加符合现实情况。在很多场合，我们都能见到类似的玩笑，把某些有些花心的男人称作“妇联干部”、“妇女之友”，或者戏称把他调去妇联云云。这是一种民间野趣一样的戏谑，它背后没有严肃的意识形态和价值观指向，并没有真的贬低妇联这个组织的意思，更没有哪怕一点点贬低整体女性的倾向。</p>
                                                    <p class="text">电视剧中的桥段要真实地反射现实，人们才能接受那些情节，而不是为了表现一种政治正确的“尊重”，而凭空安排一些完全脱离于现实的对话。如若都照此要求，这段场景怎么写呢？沙瑞金说了那番话之后，另外一个不知趣的干部说，把他调到妇联去看大门嘛。然后沙瑞金书记严肃望向那位干部，一字一顿地说，“中华全国妇女联合会，简称全国妇联。它具有广泛的群众性和社会性，是中华人民共和国的重要社会支柱之一。妇女同志能顶半边天。你的这种说法是对女性的不尊重。”那位干部羞愧地低下了头，说，“是的书记，我知道错了。”会议室里的其他干部纷纷欣慰地颔首。难道非要设计出这样的桥段才可以维护那些人的玻璃心吗？这样难道不更像一个笑话吗？我们的很多电视剧当中，不是没出现过类似的写法，难道不正是因为这种脱离现实的诡异写法，我们才不断地嘲讽乃至于抛弃了那类作品吗？</p>
                                                    <p class="text">除了这种针对某个部门引发的不满，还有人觉得这部电视剧中一些女性形象的设定本身就算得上是污蔑，诸如在各个官员间逢迎的美女商人高小琴，诸如追求个人利益的欧阳菁等等，但问题在于，周梅森并不是为了表达个人对女性的厌恶而生造出的这些角色，这几乎就是对新闻的拷贝，那些贪腐案中被抓捕的公共情妇，难道不存在吗？如果存在，那么这种戏仿怎么算得上污蔑和歧视呢？这个故事中所有的贪官都是男性，是不是男性观众也要奋起反击？</p>
                                                    <p class="text">歧视是指对于一个人或者某一个特定群体提出了不符合现实的负面评价，它本质上是一种偏见。比如某个人公开表达说，女性的智力就是不如男性，这叫做歧视。但这部电视剧只是像镜子一样反射了现实，你不能因此就要求把镜子砸碎啊。我们的影视剧在很多时候为了顾及很多群体的利益已经够可笑了，比如罪犯不许说方言，说了哪里的方言，那边就会有所反应，所以，你看吧，几乎所有电影中的小偷都操持着一口央视新闻播音员的腔调。</p>
                                                    <p class="text">政治正确的存在是为了纠正和抵挡现实中会生发出的偏见，而不是为了限制艺术创作中的表达自由的。更何况如今这些对于《人民的名义》当中所谓的对女性的歧视云云根本都是硬拗的政治正确说辞。</p>
                                                    <p class="text">中国影视业是一个非常弱势的行业，在各种权力部门和资本方面前，创作者只能在缝隙中努力拓展尺度，即便得到加持的《人民的名义》都可以被如此挤兑，其他影视剧创作者面临的空间可想而知。这不过就是一部电视剧而已，有着很多技术性的瑕疵以及令人惊喜的演技，有着特别贴合现实的写作方式，也有着无法突破天花板的遗憾。它的人物和台词与污蔑女性根本毫无关系。那些连电视剧里的故事都接受不了的人们，到底是如何在现实中度过每一天的呢？</p>
                                                </div>
                                            </div>
                                            <!-- 分享 -->
                                            <!-- <div class='don-share' data-limit='3'>
                                                <div class='don-share-total'></div>
                                                <div class='don-share-facebook'></div>
                                                <div class='don-share-twitter'></div>
                                                <div class='don-share-pinterest'></div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div id='related-posts'>
                                    </div>
                                    <div class='post-footer'>
                                        <div class='post-footer-line post-footer-line-'></div>
                                        <div class='post-footer-line post-footer-line-2'></div>
                                        <div class='post-footer-line post-footer-line-3'>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='comments' id='comments'>
                                <h3>4 条评论</h3>
                                <div class='clear'></div>
                                <div id='comment_block'>
                                    <div class='comment-hold' id='c8473522522496424926'>
                                        <div class='comment_inner'>
                                            <div class='comment_header'>
                                                <div class='comment_avatar'>
                                                    <img alt='avatar' src='http://p1.pstatp.com/thumb/1a6e000481f7832afc15' title='Kiên Định' />
                                                </div>
                                                <div class='comment_name'>
                                                    <a href='https://www.blogger.com/profile/06107552023887710229' rel='nofollow' target='_blank'>
                                                        京州公案局局长赵东来
                                                    </a>
                                                </div>
                                                <div class='comment_service'>
                                                    <a href='http://isimpletheme.blogspot.com/2015/09/ongoing-discovery.html?showComment=1481552543603#c8473522522496424926' rel='nofollow' title='permalink'>
                                                        <span class='comment_date'>2017-04-12 06:22</span>
                                                    </a>
                                                    <a class='comment-delete' href='http://www.blogger.com/delete-comment.g?blogID=2528409937020339180&amp;postID=4180960448012123321' title='Delete Comment'>
                                                        <img alt='delete' src='http://2.bp.blogspot.com/-d-5BS0YCkho/UOKe2UIw0rI/AAAAAAAAC4w/md_iYNVHaHk/s1600/delete4.png' title='Delete Your Comment' />
                                                    </a>
                                                </div>
                                                <div class='clear'></div>
                                            </div>
                                            <div class='comment_body'>
                                                <span class='comment_arrow'></span>
                                                <p>陈海醒不过来，然后我就和陆亦可在一起了</p>
                                                <a class='comment_reply' href='#r_c8473522522496424926' id='rc8473522522496424926' onclick='javascript:Display_Reply_Form(this)'>
                                                    回复
                                                </a>
                                                <div class='clear'></div>
                                            </div>
                                            <div class='clear'></div>
                                        </div>
                                        <div class='clear'></div>
                                        <div class='comment_child'></div>
                                        <div class='comment_reply_form' id='r_f_c8473522522496424926'></div>
                                    </div>
                                    <div class='comment-hold' id='c4180960448012123321'>
                                        <div class='comment_inner'>
                                            <div class='comment_header'>
                                                <div class='comment_avatar'>
                                                    <img alt='avatar' src='http://p3.pstatp.com/thumb/6820/8223501015' title='Solusindo Informatika' />
                                                </div>
                                                <div class='comment_name'>
                                                    <a href='https://www.blogger.com/profile/03615641593754303245' rel='nofollow' target='_blank'>
                                                        网络茶水
                                                    </a>
                                                </div>
                                                <div class='comment_service'>
                                                    <a href='http://isimpletheme.blogspot.com/2015/09/ongoing-discovery.html?showComment=1484128372319#c4180960448012123321' rel='nofollow' title='permalink'>
                                                        <span class='comment_date'>2017-04-12 01:52</span>
                                                    </a>
                                                    <a class='comment-delete' href='http://www.blogger.com/delete-comment.g?blogID=2528409937020339180&amp;postID=4180960448012123321' title='Delete Comment'>
                                                        <img alt='delete' src='http://2.bp.blogspot.com/-d-5BS0YCkho/UOKe2UIw0rI/AAAAAAAAC4w/md_iYNVHaHk/s1600/delete4.png' title='Delete Your Comment' />
                                                    </a>
                                                </div>
                                                <div class='clear'></div>
                                            </div>
                                            <div class='comment_body'>
                                                <span class='comment_arrow'></span>
                                                <p>
                                                    就第一集和第二集情节紧凑好看，往后越来越墨迹，很明显为了拖集数，剧情开始拖拉，开始家庭琐事拖集数，这种反贪污的电视剧20集整好，情节紧凑紧张刺激不墨迹内容一针见血效果更好，我现在看的墨迹的想弃剧，看的索然无味弃之可惜，多点行动精彩，少点家庭对话墨迹拖拉，就好了。
                                                </p>
                                                <a class='comment_reply' href='#r_c4180960448012123321' id='rc4180960448012123321'>回复</a>
                                                <div class='clear'></div>
                                            </div>
                                            <div class='clear'></div>
                                        </div>
                                        <div class='clear'></div>
                                        <div class='comment_child'></div>
                                        <div class='comment_reply_form' id='r_f_c4180960448012123321'></div>
                                    </div>
                                    <div class='comment-hold' id='c2136032913168118711'>
                                        <div class='comment_inner'>
                                            <div class='comment_header'>
                                                <div class='comment_avatar'>
                                                    <img alt='avatar' src='http://p3.pstatp.com/thumb/150e00054573312c4774' title='Unknown' />
                                                </div>
                                                <div class='comment_name'>
                                                    <a href='https://www.blogger.com/profile/05938904580264010409' rel='nofollow' target='_blank'>小锤不见了</a>
                                                </div>
                                                <div class='comment_service'>
                                                    <a href='http://isimpletheme.blogspot.com/2015/09/ongoing-discovery.html?showComment=1487415292224#c2136032913168118711' rel='nofollow' title='permalink'>
                                                        <span class='comment_date'>2017-04-12 02:54</span>
                                                    </a>
                                                    <a class='comment-delete' href='http://www.blogger.com/delete-comment.g?blogID=2528409937020339180&amp;postID=2136032913168118711' title='Delete Comment'>
                                                        <img alt='delete' src='http://2.bp.blogspot.com/-d-5BS0YCkho/UOKe2UIw0rI/AAAAAAAAC4w/md_iYNVHaHk/s1600/delete4.png' title='Delete Your Comment' />
                                                    </a>
                                                </div>
                                                <div class='clear'></div>
                                            </div>
                                            <div class='comment_body'>
                                                <span class='comment_arrow'></span>
                                                <span class='deleted-comment'>第五集两个桥段揭示了这个社会的本质：1、陆毅在床上的一句“顶多重伤两个”，在他们的眼里的确是顶多；2、拆车厂陈海要被带回局里，一个电话搞定，普通老百姓就不知道后果了。</span>
                                            </div>
                                            <div class='clear'></div>
                                        </div>
                                        <div class='clear'></div>
                                        <div class='comment_child'></div>
                                        <div class='comment_reply_form' id='r_f_c2136032913168118711'></div>
                                    </div>
                                    <div class='comment-hold' id='c7310624815436043905'>
                                        <div class='comment_inner'>
                                            <div class='comment_header'>
                                                <div class='comment_avatar'>
                                                    <img alt='avatar' src='http://p1.pstatp.com/thumb/1a6d0000843702990147' title='Ahsan Arshad' />
                                                </div>
                                                <div class='comment_name'>
                                                    <a href='https://www.blogger.com/profile/07269350043394542741' rel='nofollow' target='_blank'>
                                                        takusayhi 
                                                    </a>
                                                </div>
                                                <div class='comment_service'>
                                                    <a href='http://isimpletheme.blogspot.com/2015/09/ongoing-discovery.html?showComment=1487495757879#c7310624815436043905' rel='nofollow' title='permalink'>
                                                        <span class='comment_date'>2017-04-12 01:15</span>
                                                    </a>
                                                    <a class='comment-delete' href='http://www.blogger.com/delete-comment.g?blogID=2528409937020339180&amp;postID=7310624815436043905' title='Delete Comment'>
                                                        <img alt='delete' src='http://2.bp.blogspot.com/-d-5BS0YCkho/UOKe2UIw0rI/AAAAAAAAC4w/md_iYNVHaHk/s1600/delete4.png' title='Delete Your Comment' />
                                                    </a>
                                                </div>
                                                <div class='clear'></div>
                                            </div>
                                            <div class='comment_body'>
                                                <span class='comment_arrow'></span>
                                                <p>我是一名闭眼玩家，丁仪珍是明狼走的，不排除有狼队友给他递话的嫌疑，李达康发言很强势如果他是狼的话不会打这么悍，高育良发言一直很滑水预言家可以验一下，沙瑞金跳强神我不聊他，我想说的是祁同伟，警上不下水感觉是一张信息牌，大概率是张狼人牌，最后听预言家侯亮平归票吧，过！</p>
                                                <a class='comment_reply' href='#r_c7310624815436043905' id='rc7310624815436043905' onclick='javascript:Display_Reply_Form(this)'>
                                                    回复
                                                </a>
                                                <div class='clear'></div>
                                            </div>
                                            <div class='clear'></div>
                                        </div>
                                        <div class='clear'></div>
                                        <div class='comment_child'></div>
                                        <div class='comment_reply_form' id='r_f_c7310624815436043905'></div>
                                    </div>
                                </div>
                                <div class='clear'></div>
                                <div class='clear'></div>
                                <div class='comment_form'>
                                    <div class='comment_emo_list'></div>
                                    <div class='comment-form'>
                                        <a name='comment-form'></a>
                                        <p>
                                        </p>
                                        <a href='https://www.blogger.com/comment-iframe.g?blogID=2528409937020339180&postID=6103435469716637545' id='comment-editor-src'></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='post-feeds'>
                <div class='feed-links'>
                    Subscribe to:
                    <a class='feed-link' href='http://isimpletheme.blogspot.com/feeds/6103435469716637545/comments/default' target='_blank' type='application/atom+xml'>Post Comments (Atom)</a>
                </div>
            </div>
        </div>
    </div>
    <div class='copyrights'>Designed By: <a href='http://www.templateism.com' id='mycontent'>Blogger Templates</a> | <a href='https://templatelib.com'>Templatelib</a></div>
</div>