.photos-container {
    /* column-width: 200px;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px; */
    margin-top: 40px;
    padding-left: 10px;
    margin-bottom: 40px;position: relative;
}


/*数据块 砖块*/

.photos-container .masonry-item {
    
    

    color: #000;
    text-decoration: none;
    display: block; width: 268px;height: auto;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.45);
    img {
        transition: all 0.2s linear;
        display: block;
        opacity: 0;
        &:hover {
            transform: scale(1.15);
        }
        max-width: 100%;
        background: #ddd;
    }
}
 
@media screen  and (max-width:414px) {
    
    .photos-container .masonry-item {
        width: 160px;
    }
}

