.photos-container {
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    margin-top: 40px;padding-left: 10px;
    margin-bottom: 40px;
}


/*数据块 砖块*/

.photos-container div {
    width: 200px;
    min-height: 100px;
    margin: 10px 0;
    text-align: center;
    a{color:#000;text-decoration: none;display: block;
        overflow: hidden;
    }
    img{
        transition: opacity 0.2s linear;display: block;
        opacity:1;
        &:hover{
            opacity: 0.8;
        }
    	max-width: 100%; min-height: 100%;background: #ddd;
    }
}

