<!--Main-->
<div id="main-wrapper">
    <div class="main-top section" id="main-top">
        <div class="widget Profile" data-version="1" id="Profile1">
            <div class="widget-content">
                <a href="https://github.com/ruanjq" target="_blank" style="overflow: hidden;display: inline-block;vertical-align: top;">
                    <div alt="My photo" class="profile-img avatar"></div>
                </a>
                <dl class="profile-datablock" style="display: inline-block;">
                    <dt class="profile-data">
                        <a class="profile-name-link g-profile" target="_blank" href="https://github.com/ruanjq" rel="author" data-gapiscan="true" data-onload="true" data-gapiattached="true">
                           web功臣师 
                        </a>
                    </dt>
                    <dd class="profile-textblock">
                        <p class="description" title="某天,你无端想起一个人,她曾让你对明天有所期许,但是却完全没有出现在你的明天里.">某天,你无端想起一个人,她曾让你对明天有所期许,但是却完全没有出现在你的明天里.</p>
                    </dd>
                </dl>
                
            </div>
        </div>
    </div>
    <div class="main section" id="main">
        <div class="widget Blog" data-version="1" id="Blog1">
            <div class="blog-posts hfeed">
                <!-- loading.... -->
                <div class="post-outer loading" *ngIf="blogList.data.length == 0">
                    <div class="wrapfullpost">
                        <div class="post hentry">
                            <div class="post-header-line-1"></div>
                            <div class="post-body entry-content" itemprop="articleBody">
                                <div class="post-home">
                                    <div class="post-info">
                                        <div class="ininfo">
                                            <h2 class="post-title entry-title" itemprop="name">
                                                <a>&nbsp;&nbsp; </a>
                                            </h2>
                                            <div class="postmeta-primary">
                                                <span class="meta_date">
                                                    <i aria-hidden="true" class="fa fa-clock-o"></i>&nbsp;
                                                        <span class="date_empty"></span>
                                                </span> &nbsp;
                                                <span class="meta_categories">
                                                                    <i aria-hidden="true" class="fa fa-tags"></i>
                                                    &nbsp; <span class="tag_empty"></span>
                                                                  </span>
                                                <span class="meta_categories" style="font-size: 16px;">
                                                    <i aria-hidden="true" style="vertical-align: top;margin-top: 3px;margin-left: 5px;" class="fa fa-eye"></i> 0
                                                </span>

                                            </div>
            
                                            <div class="post-thumb">
                                                <a></a>
                                            </div>
            
                                            <div class="post-content">
                                                <div>
                                                    <p class="p1">&nbsp;</p>
                                                    <p class="p2">&nbsp;</p>
                                                    <p class="p3">&nbsp;</p>
                                                </div>
                                            </div>
                                            <div class="data-snippet"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-footer">
                                <div class="post-footer-line post-footer-line-"></div>
                                <div class="post-footer-line post-footer-line-2"></div>
                                <div class="post-footer-line post-footer-line-3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="post-outer"  *ngFor="let item of blogList?.data">
                    <div class="wrapfullpost">
                        <div class="post hentry">
                            <div class="post-header-line-1"></div>
                            <div class="post-body entry-content" itemprop="articleBody">
                                <div class="post-home">
                                    <div class="post-info">
                                        <div class="ininfo">
                                            <h2 class="post-title entry-title" itemprop="name">
                                                                <a [routerLink]="['/blogs-read', item.blog_id]">{{item.blog_title}}</a>
                                                            </h2>
                                            <div class="postmeta-primary">
                                                <span class="meta_date">
                                                    <i aria-hidden="true" class="fa fa-clock-o"></i>&nbsp;{{item.blog_create_time | dateFormat :'YYYY/MM/dd HH:mm:ss'}}
                                                                </span> &nbsp;
                                                <span class="meta_categories">
                                                                    <i aria-hidden="true" class="fa fa-tags"></i>
                                                    {{item.blog_tags}}
                                                                  </span>
                                                <span class="meta_categories" style="font-size: 16px;">
                                                    <i aria-hidden="true" style="vertical-align: top;margin-top: 3px;margin-left: 5px;" class="fa fa-eye"></i> {{item.blog_read_count}}
                                                </span>
                                            </div>
                            
                                            <div class="post-thumb">
                                                <a [routerLink]="['/blogs-read', item.blog_id]">
                                                    <img lazy="{{item.blog_thumbnail}}">
                                                </a>
                                            </div>
                            
                                            <div class="post-content">
                                                <div class="mcontent">
                                                    {{item.blog_summary}}
                                                </div>
                                            </div>
                                            <div class="data-snippet"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-footer">
                                <div class="post-footer-line post-footer-line-"></div>
                                <div class="post-footer-line post-footer-line-2"></div>
                                <div class="post-footer-line post-footer-line-3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blog-pager" id="blog-pager" *ngIf="blogList.pageCount >= 2 && blogList.pageIndex != blogList?.pageCount">
                <div class="showpageArea">
                    <a class="loading-more-btn" href="javascript:void(0)" (click)="pageMore()" title="加载更多">加载更多...</a>
                    <loading-more *ngIf="showMore"></loading-more>
                    <!-- <div class="showpageOf">
                        <span class="">({{blogList?.pageCount}}/</span>
                        <span class="showpagePoint">{{blogList?.pageIndex}})</span>
                    </div>
                                        <div class="pageCtrl">
                        <span class="showpage" title="首页" (click)="pageChange(1)"><a>首页</a></span>
                        <span class="showpage" title="上一页" [ngClass]="{'disabled':pageIndex == 1}" (click)="pageChange('prev')"><a>上一页</a></span>
                        <span class="showpage" title="下一页" [ngClass]="{'disabled':pageIndex == blogList?.pageCount}" (click)="pageChange('next')"><a>下一页</a></span>
                        <span class="showpage" title="末页" (click)="pageChange(blogList?.pageCount)"><a>末页</a></span>
                    </div> -->
            	</div>
            </div>
            
            <div class="blog-feeds">
                <div class="feed-links">
                    Subscribe to:
                    <a class="feed-link" href="http://isimpletheme.blogspot.com/feeds/posts/default" target="_blank" type="application/atom+xml">Posts (Atom)</a>
                </div>
            </div>
        </div>
    </div>
    <div class='copyrights'>个人作品: <a href='http://www.templateism.com' id='mycontent'>【风之家】 ~~ Believer</a> | <a href='https://templatelib.com'>&copy; 2018</a></div>
</div>
<!-- <a routerLink="/home" routerLinkActive="active">首页</a>
<a routerLink="/blogs-read" routerLinkActive="active">阅读博客文章</a>
<a routerLink="/resume" routerLinkActive="active">我的简历</a>
<a routerLink="/blogs-list" routerLinkActive="active">博客列表</a>
<a routerLink="/about" routerLinkActive="active">关于博客</a>
 -->
